.orderButton {
  border-radius: 10px;
  background-color: #b200ff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.orderButton p:first-of-type {
  font-family: var(--font3);
  font-weight: 700;
  font-size: 17px;
  padding-top: 13px;
  padding-bottom: 13px;
  /* line-height: 44px; */
  line-height: 143%;
  text-align: center;
  color: #fff;
}