.technologys{
    .container{
        @extend %container;
        display: flex;
        flex-direction: column;
        padding-bottom: clamp(3.125rem, 1.746rem + 6.9vw, 8.125rem) ;
        gap: clamp(1.875rem, 1.53rem + 1.72vw, 3.125rem);

        padding-left: 20px;
        padding-right: 20px;
        max-width: 1100px;

        
    }
    .technologys__main{
        display: flex;
        justify-content:space-between;
        align-items: center;
        @media (max-width:900px) {
            gap: 20px;

        }
        @media (max-width:768px) {
            flex-direction: column-reverse;
        }
    }
    .technologys__header{
        @extend %section-title;
        margin-left: auto;
        margin-right: auto;  
    }
    .technologys__tblock{
        display: flex;
        width: 50%;
        flex-direction: column;
        padding: 30px;
        border-radius: 20px;
        gap: 30px;
        box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
        @media (max-width:768px) {
            max-width: 100%;
            width: 100%;
        }
    }
    .video__wrapper{
        width: 50%;
        display: flex;
        justify-content: center;
        @media (max-width:576px) {
            width: 80%;
        }
    }
    .technologys__video{
        width: 70%;
        object-fit: contain;
        margin-left: auto;
        @media (max-width:1150px) {
            width: 70%;
        }
        @media (max-width:900px) {
            width: 80%;
        }
        @media (max-width:900px) {
            width: 90%;
        }
    }
    .technologys__description{
        display: flex;
        flex-direction: column;
        gap: 40px;

        p{
            @extend %paragraph;
            text-align: center;
        }
        .technologys__benefits{
            display: flex;
            flex-direction: column;
            li{
                @extend %paragraph;
                list-style-type: none;
            }
        }
    }
    .technologys__blog-button{
        padding-top: 20px ;
        padding-bottom: 20px;
        width: 100%;
        @extend %scale-hover;
        @media (max-width:768px) {
            padding-top: 13px;
            padding-bottom: 13px;
        }
    }
    

}