%container{
    max-width: 1480px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}
%section-title{
    font-family: var(--third-family);
    font-weight: 700;
    font-size: clamp(1.563rem, 1.183rem + 1.9vw, 2.938rem);

    /* line-height: 51px; */ 
    line-height: 108%;
    text-align: center;
    color: #000;
}

